@import "./common.scss";
@import "./mixins/index.scss";
@import "./iconfont/index.scss";

* {
  box-sizing: border-box;
  margin: 0;
}

html{
  font-size: 10px;
}

html,body{
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $c-main;
  @include transition;
  &:hover {
    color: $c-second;
  }
}
